 body {
      font-family: Arial, sans-serif;
      background-color: #7aadff;
      transition: background-color 0.3s ease;
    }

    h1 {
      color: #000000;
      text-align: center;
    }

    header {
      background-color: #0041a8;
      padding: 20px;
      border-bottom: 1px solid #06fafe;
      position: relative;
    }

    .logo {
      display: inline-block;
      vertical-align: middle;
    }

    .logo img {
      height: 40px;
      width: auto;
    }

    .logo span {
      font-size: 24px;
      font-weight: bold;
      margin-left: 10px;
      vertical-align: middle;
    }

    .toggle-container {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .toggle-switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 25px;
      background-color: #404040;
      border-radius: 12.5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .toggle-slider {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 21px;
      height: 21px;
      background-color: #0040ff;
      border-radius: 12.5px;
      transition: transform 0.3s ease;
    }

    .toggle-switch.dark-mode {
      background-color: #555;
    }

    .toggle-switch.dark-mode .toggle-slider {
      transform: translateX(25px);
    }

    form {
      width: 400px;
      margin: 0 auto;
      background-color: #c2d9ff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin-bottom: 10px;
      color: #000000;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #00ffd4;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 20px;
    }

    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 15px 155px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

    /* Estilos para o modo escuro */
    body.dark-mode {
      background-color: #0041a8;
      color: #2e80cc;
    }

    body.dark-mode h1 {
      color: #bdf4ff;
    }

    body.dark-mode header {
      background-color: #2e80cc;
      border-bottom: 1px solid #0b00a3;
    }

    body.dark-mode .logo span {
      color: #e5fbff;
    }

    body.dark-mode form {
      background-color: #2e80cc;
      color: #2d63b7;
    }

    body.dark-mode label {
      color: #ccc;
    }

    body.dark-mode input[type="text"],
    body.dark-mode input[type="email"],
    body.dark-mode input[type="password"] {
      background-color: #ffffff;
      border-color: #00ffd4;
      color: #fff;
    }

    body.dark-mode input[type="submit"] {
      background-color: #4caf50;
    }
    button {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: inherit;
      font-family: inherit;
     }
     
     button.learn-more {
      width: 12rem;
      height: auto;
     }
     
     button.learn-more .circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #00aeffc2;
      border-radius: 1.625rem;
     }
     
     button.learn-more .circle .icon {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #fff;
     }
     
     button.learn-more .circle .icon.arrow {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      left: 0.625rem;
      width: 1.125rem;
      height: 0.125rem;
      background: none;
     }
     
     button.learn-more .circle .icon.arrow::before {
      position: absolute;
      content: "";
      top: -0.29rem;
      right: 0.0625rem;
      width: 0.625rem;
      height: 0.625rem;
      border-top: 0.125rem solid #fff;
      border-right: 0.125rem solid #fff;
      transform: rotate(45deg);
     }
     
     button.learn-more .button-text {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: #282936;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
     }
     
     button:hover .circle {
      width: 100%;
     }
     
     button:hover .circle .icon.arrow {
      background: #ffffff;
      transform: translate(1rem, 0);
     }
     
     button:hover .button-text {
      color: #ffffff;
     }