
body {
    font-family: Arial, sans-serif;
    background-color: #b2f5fa;
    margin: 0;
    padding: 20px;
  }
   
  label {
    font-weight: bold;
  }

  #food-type,
  #price-level {
    margin-bottom: 10px;
  }

  #restaurant-list {
    list-style: none;
    padding: 0;
  }

  .restaurant-item {
    width: 60%;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px 2px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
  }

  .restaurant-item a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
  }

  .restaurant-item a:hover {
    text-decoration: underline;
  }